.glow-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #f9f5f7;
    text-shadow: 
        0 0 5px #b53ea5,
        0 0 10px #de7fd9,
        0 0 20px #d236a3,
        0 0 40px #00ffff;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0); }
}

.threePets{
    animation: float 3s ease-in-out infinite;
}
